body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 20px;
  flex: 1;
}

body[data-theme="light"] {
  --bg-col: #f0f0f0;
  --text-color: #333;
}

body[data-theme="dark"] {
  --bg-col: #333;
  --text-color: #eee;
}

body[data-theme="hawaii"] {
  --bg-col: #ff6f61;
  --text-color: #9b58cb;
}

header {
  background-color: var(--bg-col);
  color: var(--text-color);
  padding: 20px;
  transition: background-color 0.3s ease;
}

main {
  padding: 20px;
  color: var(--text-color);
}

footer {
  padding: 10px;
  background-color: var(--bg-col);
  color: var(--text-color);
  margin-top: auto;
}

select {
  margin-top: 10px;
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
}
